@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}
